Source: clone-pseudo-fs
Section: admin
Priority: optional
Maintainer: Matt Taggart <taggart@debian.org>
Build-Depends: debhelper (>= 10), autoconf, automake
Standards-Version: 4.7.0
Rules-Requires-Root: no

Package: clone-pseudo-fs
Architecture: any
Depends: ${shlibs:Depends}
Description: clone Linux pseudo file systems such as sysfs (e.g.
 under /sys ) as existing tools have problems
